/* ---------- root variables ---------- */
:root {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Calibre";
    src: url("fonts/CalibreRegular.otf");
}

body {
   font-size: 1.6rem;
   overflow-x: hidden;
   margin: 0;
   background-color: #0a192F;
   font-family: 'Calibre', sans-serif;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    
}

h1 {
    color: #5ff1d0;
    line-height: 17.6px;
    margin-bottom: 20px;
    font-size: 16px;
}

h2 {
    font-size: 40px;
    color: #CCD6F6;
    font-family: 'Calibri', sans-serif;
    line-height: 44px;
    font-weight: 600;
}

h3 {
    color: #8892B0;
    font-size: 40px;
    line-height: 36px;
    margin: 10px 0px;
    font-weight: 600;
}

p {
    font-size: 18px;
    color: #8892B0;
    line-height: 23.4px;
    margin: 20px 0px 0px;
}

a {
  text-decoration: none;
  color: #8892b0;
  font-size: 1rem;
  margin: 20px 0;  
}

.page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 10vh 25px 10vh 25px; 
}

ul {
    list-style: none;
}

.nav {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 8vh;
    background-color: #112240;
}

.nav-logo {
    width: 25px;
    padding-left: 25px;
}


.nav-toggler div {
    width: 1.8rem;
    height: 0.15rem;
    margin: 0.4rem;
    background: #5ff1d0;
    position: fixed;
    right: 20px;
    top: 1.6rem;
    border-radius: 19%;
    transition: 0.05s ease-in;
}

.nav-toggler div:nth-child(2) {
    top: 0.4rem;
    width: 2.8rem;
}

.nav-toggler div:nth-child(3) {
    top: 1rem;
    width: 2.3rem;
}

.nav-toggler {
    z-index: 11;
    cursor: pointer;
}

span {
    color: #5ff1d0;
    margin-right: 10px;
}

span::after {
    content: "\a";
    white-space: pre;
}

.nav-menu {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    background-color: #112240;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateX(100%);
    transition: 0.05s ease-in;
    z-index: 10;
}

.nav-active {
    transform: translateX(0);
}

.toggle .lineone  {
    transform: rotate(-45deg) translate(7px, -6px);
    width: 2.3rem;
}

.toggle .linetwo {
    opacity: 0;
}

.toggle .linethree {
    transform: rotate(45deg);
}


/* Side socials */

.side-socials {
    position: fixed;
    bottom: 0px;
    left: 20px;
    right: auto;
    display: none;
}

.socials-li {
    padding: 0;
}

.socials-li::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color:#8892B0;
}

.socials-img {
    width: 20px;
}

.socials-img-f {
    margin-bottom: 20px;
    width: 20px;
}

.side-mail {
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 20px;
    display: none;
   
}

.mail {
    padding: 10px;
    margin: 20px auto;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.mail > a {
    color: #5ff1d0;
}

.line {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color:#8892B0;
    writing-mode: horizontal-tb;
    text-orientation: mixed;
}


/* About section */

.about-section {
    width: 90%;
    margin: 50px auto 0px;
}

.home-titel {
    
}

.work-title {
    width: 90vw;
    display: flex;
    align-items: center;
    flex-direction: row;
}


.skills-section {
    width: 90%;
    margin: 20px auto 0px;
}

.skills {
    width: 90%;
    margin: 50px auto 0px;
}

.skills-ul {
    padding-left: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 10px;
}

.skills-ul > li {
    font-size: 14px;
    color: #8892B0;
}

.skills-ul > li::before {
    content: "✦";
    color: #5ff1d0;
    padding-right: 10px;
}

.wrapper {
    width: 250px;
    margin: 50px auto 0px;
    position: relative;
    height: 250px;
    background-color: #5ff1d0;
    opacity: 1;
    z-index: 2;
}

.wrapper::before {
    top: 0px;
    left: 0px;
    background-color: #5ff1d0;
    mix-blend-mode: color;
}

.wrapper::after {
    display: block;
    border: 2px solid #5ff1d0;
    top: 20px;
    left: 20px;
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.wrapper-img {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 250px;
    height: 250px;
    object-fit: scale-down;
    z-index: 0;
    background-image: url("assets/Portrait.jpg");
    opacity: 0.6;
}
 
/* Button styling */

.button-div {
    margin-top: 50px;
}

.next-button {
    padding: 1rem 2.75rem;
    border: 1px solid #64ffda;
    color: #64ffda;
    border-radius: 5px;
    background-color: transparent;
    transition: 0.5s ease-in;
}

.next-button:hover {
    background-color: #9ffae83c;
}

.grid-container{
    margin: 25px 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    justify-content: space-between;
}

.card {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url(assets/Background_test.jpg);
    background-size: 120%;
    background-repeat: no-repeat;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.f-title {
    font-size: 16px;
    color: #5ff1d0;
}

.card-title {
    color: white;
    font-size: 1.6rem;
}

.card-button-div {
    
    margin-top: 20px
}

@media only screen and (min-width: 450px) {
    .card {
        height: 350px;
        margin-bottom: 40px;
    }
}

@media only screen and (min-width: 550px) {
    .card {
        height: 300px;
    }
}

@media only screen and (min-width: 1000px) {
    .grid-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        margin: 0px 20px 20px 0;
        height: 350px;
        width: 400px;
    }
}



@media only screen and (min-width: 750px) {
    .page {
        padding: 10vh 100px;
    }

    .side-socials {
        display: block;
    }

    .side-mail {
        display: block;
    }

    .grid-container{
        margin: 25px 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap ;
    }
}

@media only screen and (min-width: 850px) {
    .grid-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0fr;
    }
}


@media only screen and (min-width: 1000px) {
    .nav-menu {
        width: 100vw;
        height: 8vh;
        flex-direction: row;
        transform: translateX(0);
        position: fixed;
        top: 0;
        justify-content: flex-end;
        margin-right: 8%;
    }

    .nav-toggler {
        display: none;
    }

    span::after {
        content: "";
    }

    a {
        padding: 10px;
        margin: 0;
    }

    span {
        padding-right: 8px;
    }
    
}



